.Grouping{
  margin: 0 0 20px 15px;
}
.Grouping .list{
  width: 100%;
}
.Grouping .list .item{
  user-select: none;
  border: 2px solid #e2e2e2;
  border-radius: 4px;
  padding-left: 6px;
  margin: 8px 0;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #7a7a7a;
}